{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Data Mining Grader{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/gmucs.css" >

    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% get_static_prefix %}js/tiny_mce/tiny_mce.js"> </script> 
    <script>
   
    tinymce.init({
        selector: '#myTextarea',
        theme: 'modern',
        width: 600,
        height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
            ],
        content_css: 'css/content.css',
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    
    </script> 
</head>

{# <!---- Header ----------------------> #}

<body>
<header>
<div class="padded-row">
    <div id="cs-logo">
        <h1>
            <a class="img-link" href="/">
                <img class="img-logo" src = "{% static "images/logo.png" %}" alt="GMU CS Department">
            </a>
         </h1>
     </div>




</header>


<div id="content">
    {% block allcontent %}
    <div id="page-content">
        <div id="page-container" class="clear">
        {% block page_container %}

        {% block left_wrapper %}
            
         <div id="related-links">
                <ul class="url-block">
                      {% if user.is_staff %}
                    <li>
                    <a href="/admin/">Admin</a>
                    </li>
                    <li><a href="/fileuploader/createAssignment.html">Setup New Assignment</a></li>
                    {# <li> <a href="/fileuploader/submitAssignment.html"> Submit Assignment </a></li> #}
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="/fileuploader/viewAssignments.html">View All Assignments</a></li>
                    <li><a href="/fileuploader/logout/"> Logout </a></li>
                    {% else %}
                    <li><a href="/fileuploader/login/">Login </a></li>
                    {% endif %}
                </ul>
            </div>
         {% endblock %}
         {% block main_wrapper %}
         <div id="page-article">
            {%block content %}{% endblock %}
         </div>
         {%endblock %}
         
         {%endblock %}
        </div>
  </div>
  {%endblock %}
</div>
		

{# <!--======= Footer =================================--> #}
<footer>
    <div class="padded-row">
        <div id="gmu-logo">
            <a class="img-link" href="http://www.gmu.edu">
            <img src="{% static "images/gmu_white_logo.png" %}" alt="George Mason University Logo">
            </a>
        </div>
        <div id="contact">
            <p>
            <a href="mailto:rangwala@cs.gmu.edu">rangwala&nbsp;at&nbsp;cs.gmu.edu</a><br />
            </p>
        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                    </div>
    </div>
</footer>



</body>
</html>
