{% extends "base.html" %}

{% block content %}
{% load staticfiles %}




{% load i18n %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


{% if bootstrap == 3 %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>Boostrap 3 django-datetime-widget demo</title>
    {% else %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <title>Boostrap 2 django-datetime-widget demo</title>
    {% endif %}
</head>






<form action="edit" method="post" enctype="multipart/form-data">{% csrf_token %}
{{form.media}}
{% for field in form.visible_fields %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag}} {{field}}
    </div>
{% endfor %}



<div class="padded-row">

<input type="submit" name="submit" value="Save">

</div>
</form>

{% endblock %}
