{% extends "base.html" %}
{% block content %}
  {% load i18n %}
  {{ form.errors }}
	<div class="panel-body">
    <form action="/fileuploader/updateCourse/{{course.id}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-default pretty-forms">
    <div class="panel-heading"><b>Update Course Form</b></div>
   	<div class="panel-body">
   		
   		<div class="form-group">
      		<label for="className">Course Name</label>
      		<input  name="name" type="text" class="form-control" value="{{course.name}}"></input>
    </div>
      <input type="hidden" name="user" value="{{user.id}}" />
    	<div class="form-group">
       		<label for="classnumber">Course Number</label>
       		<input name="classnum" type="number" class="form-control" value="{{course.classnum}}"></input>
    	</div>
    	<div class="form-group">
    		<label for="classsection">Course section</label>
     		<input name="section" type="number" class="form-control" value="{{course.section}}"></input>
       	</div>
		<div class="form-group">
			 <label for="descriptionArea">Course Description</label>
       		 <textarea name="description" class="form-control" rows="5">{{course.description}}</textarea>
       	</div>
		<div class="form-group">
    		<label for="Year"> Year</label>
         	<input name="year" type="number" class="form-control" value="{{course.year}}"></input>
       	</div>
      
        <div class="form-group">
          <label for="Semester">Semester</label>
          <select name="semester" class="form-control">
            {% if course.semester == "Fall" %}
                <option value="Fall" selected>Fall</option>
            {% else %}
                <option value="Fall">Fall</option>
            {% endif %}
            {% if course.semester == "Spring" %}
                <option value="Spring" selected>Spring</option>
            {% else %}
                <option value="Spring" selected>Spring</option>
            {% endif %}
            {% if course.semester == "Summer" %}
                <option value="Summer" selected>Summer</option>  
            {% else %}
                <option value="Summer">Summer</option>  
            {% endif %}
            </select>
        </div>
        
        <button name="submit" value="Save" type="submit" class="btn btn-success pull-right pretty-forms">Save</button>
     
	</div>
    </div>
    </div>
    </form>
    </div>
{% endblock %}