{% extends "base.html" %}

{% block content %}
{% load staticfiles %}


    <div class="panel panel-default pretty-forms">
  		<div class="panel-heading"><b>Registration Form</b></div>
  		<div class="panel-body">
  			<form role="form" method="post" action="register">
  				{% csrf_token %}
    			<input type="text" name="user-first_name" placeholder="First name" class="form-control" required/><br>
    			<input type="text" name="user-last_name" placeholder="Last name" class="form-control" required /><br>
    			<input type="text" name="user-username" placeholder="Username" class="form-control" required /><br>
    			<input type="email" name="user-email" placeholder="Email" class="form-control" required /><br>
    			<input type="password" name="user-password" placeholder="Secure Password" class="form-control" required />
    			<br>
    			<div class="row">
    				<div class="col-sm-12 text-right">
    					<button class="button pretty-forms" type="submit"> Register </button>
    				</div>
    			</div>
    	</form>
  		</div>
		</div>    
{% endblock %}
