{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="panel panel-default pretty-forms">
  <div class="panel-heading"><b>Select to Enroll</b></div>
    <div class="panel-body">
        <form action="/fileuploader/submitEnroll" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <select name="course" class="form-control">
            {% for c in courses %}
                <option value="{{c.id}}">{{c.full_name}}</option>
            {% endfor %}
          </select>
        </div>
        <button name="submit" value="submit" type="submit" class="btn btn-success pull-right pretty-forms">Select Course</button>
      </form>
    </div>
  </div>
</form>

{% endblock %}
