{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


<div class="panel panel-default pretty-forms">
  <div class="panel-heading"><b>Select Class</b></div>
    <div class="panel-body">
      <form action="/submitEnroll" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <select name="classnum" class="form-control">
            {% for c in opts %}
                <option value="{{c}}">{{c}}</option>
            {% endfor %}
          </select>
        </div>
        <button name="submit" value="submit" type="submit" class="btn btn-success pull-right pretty-forms">Select Class</button>
      </form>
    </div>
  </div>

{% endblock %}
