{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="panel panel-default pretty-forms">
  <div class="panel-heading"><b>Assignment: </b>{{assignment.name}}</div>
  <div class="panel-body">
    <form action="{{assignment.id}}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="solution_file">Solution file:</label>
        <input name="solution_file" type="file" id="solution_file">
      </div>
      <button name="submit" value="Submit Assignment" type="submit" class="btn btn-success pull-right pretty-forms">Submit Assignment</button>
  </form>
</div>


<!-- Keeping this, but commented out for now, may be useful for testing purposes

<div class="padded-row">
<b> User: </b> {{user.username}}

<b> Assignment: </b>  {{assignment.name}}
</div>



<form method="post" enctype="multipart/form-data">{% csrf_token %}


<nav id="nav-topic">
<ul >
{{form.as_ul}}
</ul>
</nav>

<div class="padded-row">

<input type="submit" name="submit" value="Submit Assignment">

</div>
</form>

-->


{% endblock %}
