{% extends "base.html" %}

{% load staticfiles %}


{% block content %}

{% if assignments.count > 0 %}

<table >
<tr> <th>  Assignment </th><th> Published </th> <th> Count  </th>  <th> Details </th></tr>

{% for a in assignments %}
    <tr>
    <td> {{a.name}} </td>
    <td> {{a.pub_date}} </td>
    <td> {{a.uploaded_cnt}} 
    </td>
    <td>
    <a href="{% url 'fileuploader:viewAssignmentsDetail' a.id %}"> Details </a></td>
    </tr>


{% endfor %}

</table>
{% else %}

<div>

<h1> None to Show </h1>

</div>


{% endif %}



{% endblock %}
