{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{%block content %}



<table>
<th>
<h1>{{ assignment.name}}</h1>
</th>
<tr>
<td>
<b> Published Date: </b> <br> {{assignment.pub_date}}
</td>
</tr>
<td>
<b> Deadline Date: </b>  <br> {{assignment.deadline_date}}
</td>
<tr>
<td>
<b> Description: </b> <br> {{assignment.description | safe}}
</td>
</tr>
<tr>
<td>
<b> Files: </b> <br>
<ul>
<li> <i> Train Data:  </i> <a href="{{fileurls}}{{assignment.train_data}}" style="text-decoration:None"> Download File </a> </li>
<li> <i> Test Data: </i> <a href="{{fileurls}}{{assignment.test_data}}" style="text-decoration:None"> Download File </a> </li>
<li> <i> Format File: </i> <a href="{{fileurls}}{{assignment.format_example}}" style="text-decoration:None"> Download File </a> </li>

</ul>
</td>


</tr>
</table>

{# {{figplot}}#}
{# <img src = "http://127.0.0.1:8000/files/{{figplot}}" >  </img> #}


{% if submissions.count > 0 %}
<h1> Submission Log: </h1>
<table> 
<tr>
<th>
User
</th>
<th>
Submission Time
</th>
<th>
Status
</th>
<th>
Public Score
</th>
<th>
Uploaded file
</th>
</tr>
{% for s in submissions %}
    <tr>
    <td> {{s.user}} </td> 
    <td>{{s.submission_time}} </td>  
    <td> {{s.status}} </td>
    <td> {{s.public_score}} </td> 
    <td> <a href="{{fileurls}}{{s.solution_file}}"> Uploaded File </a> </td>
    </tr>  
{%endfor %}
</table>
{%endif %}


</tr>
</table>

{% endblock %}


