{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <div class="panel panel-default pretty-forms">
    <div class="panel-heading"><b>Change password</b></div>
    <div class="panel-body">
    <form method="post">
      {% csrf_token %}
      <input name="new_password1" id="id_new_password1" type="password" placeholder="New Password" class="form-control"/><br>
      <input name="new_password2" id="id_new_password2" type="password" placeholder="New Password Confirmation" class="form-control"/>
      <button type="submit">Change password</button>
    </form>
  </div>
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
