{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <script src="{% static 'js/jquery.min.js' %}"></script> 
        <script src="{% static 'js/datatables.min.js' %}"></script> 
        <script src="{% static 'js/dataTables.responsive.min.js' %}"></script> 
        <script src="{% static 'js/application.js' %}"></script> 
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/datatables.min.css">
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/css/gmucs.css" >
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136815051-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-136815051-1');
        </script>

        {# Load the tag library #}
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <title>{% block title %}Data Mining Grader{% endblock %}</title>
    </head>
    {# <!---- Header ----------------------> #}
    <body>
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span><a class="img-link" href="/">
                            <img class="img-logo" src = "{% static "images/logo.png" %}" alt="GMU CS Department">
                        </a></span></a>
                        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'fileuploader:loggedin' %}">Hello, {{user.first_name}}</a></li>
                                    {% endif %}
                                    
                                    {% if user.is_superuser or user.is_staff %}
                                        <li><a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Manage&emsp;<span class="caret"></span>
                                            </a>    
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                {% if user.is_staff %}
                                                <li>
                                                    <a href="{% url 'users' %}">Manage Users</a>
                                                </li>
                                                {% endif %}
                                                <li>
                                                        <a href="{% url  'fileuploader:newcourse' %}">Setup New Course</a>
                                                </li>
                                                <li>
                                                        <a href="{% url  'fileuploader:createAssignment' %}">Setup New Assignment</a>
                                                </li>
                                                <li>
                                                        <a href="{% url 'fileuploader:viewSubmissions' %}">View Submissions</a>
                                                </li>
                                                <li>
                                                        <a href="{% url 'fileuploader:viewAssignments' %}">View All Assignments</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'fileuploader:courses' %}">View All Courses</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'fileuploader:selectEnroll' %}">Enroll in a Course</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'fileuploader:myAssignments' %}">My Assignments</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'fileuploader:logout_page' %}"> Logout </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'fileuploader:login' %}">Login </a>
                                        </li>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="content">
            {% block allcontent %}
              <div class="container">
                        {% block page_container %}
                            
                            {% block main_wrapper %}
                            
                                        {%block content %}{% endblock %}
                               

                            {%endblock %}

                            {%endblock %}
                        
                    {%endblock %}
            </div>
        </div>

                {# <!--======= Footer =================================--> #}
                <footer>
                    <div class="padded-row">
                        <div id="gmu-logo">
                            <a class="img-link" href="http://www.gmu.edu">
                                <img src="{% static "images/gmu_white_logo.png" %}" alt="George Mason University Logo">
                            </a>
                        </div>
                        <div id="contact">
                            <p>
                                <a href="mailto:rangwala@cs.gmu.edu">rangwala&nbsp;at&nbsp;cs.gmu.edu</a><br />
                            </p>
                        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                    </div>
                    </div>
                </footer>
            </body>
        </html>
